
.tests-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* var atstāt */
    gap: 15px;

    width: 100%;          /* jaunais */
    max-width: 1100px;    /* vai 1200px, kā patīk */
    margin: 20px auto;    /* centrē lapā */

    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


.accordion-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.accordion-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.accordion-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
    border: rgb(112, 111, 111) 1px solid;
    border-radius: 5px;
    padding: 15px;
    margin: 0 10px 0 10px;
    background-color: #eee;
    width: 100%;
    max-width: 1000px;
}

.accordion-header:hover{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.accordion-header.active {
    background-color: #ddd;
}

.accordion-header > h2{
    margin-bottom: 10px;
}

.accordion-header > p{
    margin-bottom: 5px;
}

.test-actions {
    display: flex;
    gap: 5px;
}

.test-actions button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content.show {
    max-height: 1000px;
    padding: 10px;
}

.accordion-content p {
    margin-bottom: 10px;
}

